@charset 'utf-8';
body {
  font-family: Arial, sans-serif;
}



#message-container {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: hsl(219, 77%, 66%, .5);
  width: 70%;
  margin: 0 auto;
}
}

#message-input {
  width: 500px;
}

#send-button {
  margin-top: 10px;
}


