<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>Live Chat App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <div id="message-container"></div>
  <footer>
    <form id="message-form">
      <input type="text"  id="message-input">
      <input type="submit" id="send-button">

    </form>
  </footer>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>